* {
  margin: 0px;
}
.name {
  font-family: "Patua One", cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 0 2em;
}

.size {
  font-size: xx-large;
}
.sizeW {
  font-size: xxx-large;
}
.sizeW_number {
  font-size: 5em;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.login {
  display: flex;
  justify-content: flex-end;
}
.content {
  margin-top: 15em;
  display: flex;
  flex-direction: column;

  transition: box-shadow 0.3s;

  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0.7em;
}
.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}
.c1 {
  display: flex;
  justify-content: space-evenly;
}
.main {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  font-size: xx-large;
  display: flex;
}
.change {
  display: flex;
  flex-direction: column;
  color: #111;
}
.fade_bot {
  height: 12.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
